PORT=3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=prasadjadhav1014@gmail.com
SMTP_PASS=omwgevfjabyhiydp

MAIL_FROM=prasadjadhav1014@gmail.com
MAIL_TO_DEFAULT=prasadjadhav1014@gmail.com
